{% extends "manage/fix-parts/layout.html" %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



<form action="/manage/deleteCategory/" method="post">
    {% csrf_token %}
    Silinecek Kategori {{categoryname}}
<input type="hidden" name="categoryname" value="{{categoryname}}">
<p>Kategori Silinecek Emin Misiniz?</p>
<a href="{% url 'checkcategory'%}" class="btn btn-success">Kategori Listesi</a>
<input type="submit" value="Sil" class="btn btn-danger">


</form>



    
</body>
</html>
{% endblock %}